
<div class="middle-section">
    <div class="widget left">
        <app-credit-counts></app-credit-counts>
    </div>
    <div class="widget right">
        <app-total-sum></app-total-sum>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-average-sum></app-average-sum>
    </div>
    <div class="widget right">
        <app-total-percent></app-total-percent>
    </div>
</div>

<div class="end-section">
    <div class="widget left">
        <app-return-counts></app-return-counts>
    </div>
</div>
